@page
@model MyKitchen.WebApp.Pages.Categories.RetrieveAllModel
@{
}

<form method="post">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" placeholder="Category Name" asp-for="@Model.Category.Name">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <th scope="row">@category.Id</th>
                <td>@category.Name</td>


                <td>
                    <a class="fa-solid fa-pencil" asp-page="/categories/Update" asp-route-id="@category.Id"></a> /
                    <a class="fa-solid fa-trash" asp-page="/categories/Delete" asp-route-id="@category.Id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>